<!-- <p *ngIf="tasks.length==0">No data
    <ng-container *ngIf="tasks.length>0"> 
        <div *ngFor="let item of tasks">
    {{item["title"]}}

</div>

    </ng-container>
</p> -->
<!-- <div *ngFor="let task of tasks">
    
    <p [ngClass]=" task.dueDate < currentDate ? 'red' : 'green'"  appHoverBackground> {{task.title}}</p>
    

</div> -->


<label for="">Status</label>
<select name="" id="" [(ngModel)]="selectedStatus">
    <option value="Incomplete">Incomplete</option>
    <option value="In Progress">InProgress</option>
    <option value="Completed">Completed</option>
</select>
<p [ngSwitch]="tasks.length">
    <ng-container *ngSwitchCase="0"> No data</ng-container>
    <ng-container *ngSwitchDefault>
        <ng-container *ngFor="let task of tasks | filter : selectedStatus ">
          <app-task-detail [task]="task " (passValue)="onChildEventTriggered($event)"></app-task-detail>
          <hr>
        </ng-container>
    </ng-container>
</p>

 <form action="" [formGroup]="registerForm">

<input type="text" formControlName="title" [ngStyle]="{backgroundColor: 'grey'}"> <br>
<input type="date" formControlName="due_date"><br>
<button (click)="addTask()">click</button>
</form> 

